// colors
$font-color: #3D3D3D;
$light_font-color: #fbfbfb;
$lightmode-second_color:#ff8f2c;
$Darkmode-second_color:#ffa455;

//borders
$radius:10px;
$tag_radius:6px;


//transitions
$transition_all:all ease-in-out .2s;


//shadows
$shadow-card:0px 4px 4px rgba(0, 0, 0, 0.25);
$text-shadow:1px 1px 2px #0000004a;


body{
    color: $font-color;
}
.container{
    height: auto;
    padding-right:0 ;
    padding-left: 0;
}
.row >*{
    padding-left: 0;
    padding-right: 0;
}
.row {
    margin-left: 0 ;
    margin-right: 0 ;
}
@media (max-width:768px) {
   .container{
    max-width:768px;
   }  
}