@import 'variables';
.cardnews_2{
    width: 90%;
    box-shadow: $shadow-card;
    margin: 0 auto;
    position: relative;
    border-radius: $radius;
    border: none;
    .cardnews_2-img{
        height: 300px;
        width: 100% !important;
        border-top-left-radius:$radius ;
        border-bottom-left-radius:$radius ;
        box-shadow: $shadow-card;
        object-fit: cover;
        @media (max-width:575px) {
            border-radius: $radius;
        }
    }
    .card-body{
        position: relative;
        height: 100%;
        .cardnews_2-title{
            width: 100%;
            color: $font-color;
            text-shadow: $text-shadow;
            margin-left: 10px;
            font-size: 50px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            @media (max-width:575px) {
                -webkit-line-clamp: 2;
            }
        }
    }
}