@import 'variables';

.cardnews_1{
    // max-height: 350px;
    // background-color: $secondary !important;
    width: 95%;
    // box-shadow: $shadow-card;
    margin: 0 auto;
    position: relative;
    border-radius: $radius;
    border: none;
    padding: 20px;
    @media (max-width:900px) {
        // height: 200px;
        width: 95%;
    }
    @media (max-width:768px) {
        // height: 200px;
        margin: 0 auto;
        width: 80%;
    }
    @media (max-width:450px) {
        // height: 200px;
        width: 97%;
    }
    .cardnews_1-img{
        display: flex;
        position: relative;
        margin:0 auto;  
        align-items: center;
        justify-content: center;  
        height: 200px;
        width: 80% ;
        box-shadow: $shadow-card;
        border-radius: $radius;
        object-fit: cover;
        @media (max-width:900px) {
            height: 200px;
            width: 90%;
        }
        @media (max-width:768px) {
            height: 300px;
            width: 99%;
        }
        @media (max-width:450px) {
            height: 300px;
            width: 100%;
        }
    }
   .card-body{
    // z-index: 1;
    position: relative;
    
    .cardnews_1-title{
        width: 100%;
        color: $primary;
        padding: 0px 10px;
        text-shadow: $text-shadow;
        // font-size: 50px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            left: 2%;
            bottom: -4px;
            width: 80%;
            height: 6px;
            background: $third;

          }
    }
    .cardnews_1-deescription{
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        color: #3e3e3e;
        // font-size: 18px;
    }
    
    }
    .cardnews_1-info{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        .cardnews_1-Date{
            // position: absolute;
            // bottom: 10px;
            // right: 20px;
            // margin-top: 20px;
            font-weight: 500;
            color: #3e3e3e;
        }
        .cardnews_1-Readmore{
            z-index: 0;
            // position: absolute;
            // bottom: 0;
            // left: 15px;
            // font-size: 24px;
            font-weight: 400;
            display: inline-block;
            color: #3e3e3e;
            transition: .2s all ease-in-out;
            &:hover{
                font-weight: 500;
            }
            
        }
    }
    .cardnews_1-filter{
        background-color: $font-color;
        opacity: 3%;
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 6px;
        flex: 1;
        top: 0;
        left: 0;
        z-index: -1;
    }
}
