@import 'variables';
.cardnews_2{
    width: 90%;
    // box-shadow: $shadow-card;
    margin: 0 auto;
    position: relative;
    border-radius: $radius;
    border: none;
    background-color: #fff;
    border: 2px solid $third;
    box-shadow: inset 0px 0px 10px 1px $secondary;
    z-index: 1;
    height: auto;
    @media (max-width:575px) {
        height: 270px;
    }
    // box-shadow: $shadow-card;
    .cardnews_2-img{
        height: 150px;
        width: 100% !important;
        border-top-left-radius:$radius ;
        border-bottom-left-radius:$radius ;
        box-shadow: 2px 0px 10px 1px $secondary ;
        object-fit: cover;
        @media (max-width:575px) {
            border-radius: $radius;
        }
    }
    .card-body{
        position: relative;
        height: 100%;
        .cardnews_2-title{
            width: 90%;
            color: $primary;
            text-shadow: $text-shadow;
            margin: 0 auto;
            padding-top: 10px;
            // font-size: 30px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            text-wrap:balance;
            @media (max-width:575px) {
                -webkit-line-clamp: 2;
            }
        }
    }
    
}