@import'variables';
footer{
    .container{
        max-width: 70%;
    }
    z-index: 1;
    height: auto;
    box-shadow:inset 1px -1px 4px 1px $third,
    0px 0px 4px 1px $secondary;
    h3{
        color: $primary;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            bottom: -1px;
            width: 20%;
            height: 3px;
            background: $third;

        }
        @media (max-width:768px) {
            text-align: center;
            &::before{
                content: "";
                position: absolute;
                bottom: -1px;
                width: 5%;
                height: 3px;
                
                background: $third;
    
            }
        }
    }
    .description{
        font-size: var(--fs-400);
        color: $font-color;
        text-wrap:balance;
        margin-bottom: 0;
        @media (max-width:768px) {
            text-align: center;
        }
    }
    .copyright{
        font-size: var(--fs-400);
        color: $primary;
        text-wrap:balance;
        a{
            color: red;
            &:hover{
                color: $primary;
            }
        }
        @media (max-width:768px) {
            text-align: center;
        }
    }
    .categories-item{
        text-align: left;
        a{
            text-decoration: none;
            color: $primary;
            // transition: all ease-in-out .2s;
            &:hover{
                font-weight: 500;
            }
        }
        @media (max-width:768px) {
            text-align: center;
        }
    }
    .social-media{
        // margin: 0 auto;
        .social-media-item{
            // margin-left: 10px;
            margin-inline: 10px;
            &:first-child{
                margin-left: 0;
            }
            a{
                font-size: var(--fs-500);
                text-decoration: none;
                color: $primary;
                transition: all ease-in-out .2s;
                &:hover{
                    font-size: var(--fs-600);
                    color: $font-color;
                }
            }
        }
        @media (max-width:768px) {
            text-align: center;
        }
    }
    

}
