@import 'variables';
.icontag{
    color: $third;
    position: absolute;
    font-size: 30px;
    background-color: #fafafa;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    // box-shadow: $shadow-card;
    z-index: 2;
}
.cardnews_3-logo{
    top: 15px;
    left: 15px; 
    background-color: transparent;
    box-shadow: inset 0 0 5px 1px #fafafa;
}
.cardnews_1-logo{
    top: -10px;
    right: -10px;
      @media (max-width:768px) {
        top: -20px;
    }
      @media (max-width:450px) {
        top: -20px;
        // right: 0;
    }
}
.cardnews_2-logo{
    bottom: 10px;
    right: 10px;
    background: #fff;
    @media (max-width:575px) {
        bottom: unset;
        top: 10px;
    }
}