@import 'variables';
.Navbar{
   /* Updated to occupy full width */
  height: 5rem;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  // background-color: aqua;
  z-index: 10;
  .nav-logo{
    font-weight: 700;
    font-size: 21px;
    margin: 15px;
    color: #fff;
  }
  .nav-items{
    a{
      color: $primary;
      font-size: 21px;
      text-decoration: none;
      margin: 15px;
      position: relative;
      opacity: .9;
      font-weight: 400;
      &:hover{
        opacity: 1;
        color: $font-color;
        @media (max-width:768px) {
          color: $darkmode-font;
          font-weight: 500;
        }
        &::before{
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 50%;
          height: 2px;
          background: $third;
          animation: slideIn .45s ease-in-out;
          @media (max-width:768px) {
            display: none !important;
          }
        }
      }
      

    }

  }
  .nav-toggle{
    display: none;
  }

  .nav-filter{
    background-color: $font-color;
    opacity: 3%;
    position: absolute;
    height: 5rem;
    width: 100%;
    border-radius: 6px;
    flex: 1;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
@media (max-width:768px) {
  .Navbar{
    background-color: $primary;
    .nav-items{
      z-index: 1006;
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 70px;
      background-color: $primary;
      width: 100%;
      height: 20%;
      text-align: center;
      transform: translatey(-100%);
      transition: all .45s;
      opacity: 0;
      // position: relative;
      a{
        color: $darkmode-font;
        &::before{
          content: "";
          position: absolute;
          left: 45%;
          bottom: -4px;
          width: 10%;
          height: 6px;
          background: $third;

        }
      }
      &.open{
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
        transform: translatey(0);
        box-shadow: $shadow-card;
        opacity: 1;
      }
    }
    .nav-toggle{
      display: flex;
      width: 50px;
      align-items: center;
      justify-content: center;
      padding: 30px 0;
      cursor: pointer;
      .bar{
        position: relative;
        width: 32px;
        height: 4px;
        background:$darkmode-font;
        &::before,&::after{
          content: "";
          position: absolute;
          height: 4px;
          background-color: $darkmode-font;
          border-radius: 2px;
          transition: all .45s ease-in-out;
        }
        &::before{
          width: 25px;
          transform: translateY(-8px);
          right: 0;
        }
        &::after{
          width: 32px;
          transform: translateY(8px);
          
        }

      }
      

    }
    .open{
      .bar{
        transform: translateX(-40px);
        background: transparent;
        &::before{
          width: 32px;
          transform: rotate(45deg) translate(26px, -26px);
        }
        &::after{
          transform: rotate(-45deg) translate(26px, 26px);
        }
      }
    }
  }
}

@keyframes slideIn {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
