@import 'variables';
.search{
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    position: relative;
    .input_search{
        position: relative;
         width: 25%;
         height: 40px;
         border: none;
         border-bottom-left-radius: $radius;
         border-top-left-radius: $radius;
         outline: none;
         box-shadow: $shadow-card;
         text-indent: 20px;
         color: $font-color;
         font-weight: 400;
         font-size: var(--fs-500);
         line-height: 32px;
         
         &::placeholder{
             text-indent: 10px;
            //  font-size: 20px;
             color: $third;
             padding: 10px;
             font-weight: 400;
         }
     }

     .icon-search{
        cursor: pointer;
        padding: 8px 20px;
        border-bottom-right-radius: $radius;
        border-top-right-radius: $radius;
        box-shadow: $shadow-card;
        color: $font-color;
        border: none;
        background-color: #fff;
        transition: .1s all ease-in-out;
        &:hover{
            color: $primary;
        }
        
     }
}

@media (max-width:1100px) {
    .search{
        .input_search{
            width: 35%;
        }
    }
}
@media (max-width:768px) {
    .search{
        .input_search{
            width: 40%;
        }
    }
}
@media (max-width:550px) {
    .search{
        .input_search{
            width: 60%;
        }
    }
}
