@import 'variables';
.tag{
    padding: 4px 12px;
    margin:0px 10px;
    border-radius: $tag_radius;
    box-shadow: $shadow-card;
    font-size: 20px;
    position: relative;
    background-color: #fff;
    display: inline-block;
    color: $font-color;
    &:hover{
        animation: moveTag 0.3s ease-in-out forwards;
        cursor: pointer;
    }
    
}
@keyframes moveTag {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-1px) ;
    }
  }