@import '../styles/variables';

.home-header_section{
    position: relative;
    height: auto;
    // margin: 0 auto;
    .img-home{
        position: relative;
        .img-article{
            height: 800px !important;
            object-fit: cover;
            width: 100%;
            background-attachment: fixed;
            z-index: 0;
        }
        .filter{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: #0000005d;
            // filter: brightness(10%) contrast(150%);
            z-index: 1;
        }
    }
}
.home-news-section{

    //col-8
    .home-today-news{
        @media (max-width:1000px) {
            max-width:100%;
            // background: #000;
        }
        .swiper-container{
            perspective: none;
            padding-bottom: 60px;
            position: relative;
            .slider-controler{
                align-items: center;
                display: flex;
                justify-content: center;
                position: absolute;
                bottom: 45px;
                width: 100%;
                height: auto;
                z-index: 10;
                .slide-slide-shadow-left,
                .slide-slide-shadow-right{
                    display: none;
                }
                .slider-arrow{
                    cursor: pointer;
                    position: relative;
                    transition: background-color .3s ease;
                    top: 40px;
                    width: 20%;
                    // z-index: 1000;
                    // padding: 70px 0;
                    &.swiper-button-prev{
                            cursor: pointer;
                            align-items: center;
                            background-color: #fff;
                            border: 1px solid $primary;
                            border-radius: 10%;
                            display: flex;
                            font-weight: 700;
                            height: 40px;
                            width: 40px;
                            justify-content: center;
                            position: absolute;
                            left: 40%;
                            box-shadow: $shadow-card;
                            &::after{
                                font-size: 21px;
                                color: $primary;
                            }
                        }
                        &.swiper-button-next{
                            cursor: pointer;
                            align-items: center;
                            background-color: #fff;
                            border: 1px solid $primary;
                            border-radius: 10%;
                            display: flex;
                            font-weight: 700;
                            height: 40px;
                            width: 40px;
                            justify-content: center;
                            position: absolute;
                            right: 40%;
                            box-shadow: $shadow-card;
                            &::after{
                                font-size: 21px;
                                color: $primary;
                            }
                        }
                }
                
                .swiper-pagination {
                  position: relative;
                  top: 25px;
                  z-index: 0;
                  .swiper-pagination-bullet{
                    background-color: $primary;
                  }
                }
            } 
              
        }
        .home-news-section_title-1{
            // font-size: 40px;
            color: $font-color;
            padding: 20px 20px;
        }
    }




    //col-4
    .home-week-news{
        // background-color: #fff;
        padding: 15px;
        padding-bottom: 50px;
        box-shadow: $shadow-card;
        border-radius: $radius;
        position: relative;
        @media (max-width:1000px) {
            margin-top: 40px !important;
            max-width:90%;
            margin: 0 auto;
            // background: #000;
        }

        .home-news-section_title-2{
            color: $font-color;
            text-align: center;
            
        }
        .cardnews_2-filter{
            background-color: $font-color;
            opacity: 3%;
            position: absolute;
            height: 100%;
            width: 100%;
            border-radius: 6px;
            flex: 1;
            top: 0;
            left: 0;
            z-index: 0;
        }
    }
}
footer{
    position: relative;
    .footer-filter{
        background-color: $font-color;
        opacity: 2%;
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 6px;
        flex: 1;
        top: 0;
        left: 0;
        z-index: -1;
    }
}